@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

:root{
    --ff-primary:"Roboto", sans-serif;
    --ff-secondary: "Inter", sans-serif;
    --ff-design:"Satisfy", cursive;
    --ff-brand:"Margarine", sans-serif;


/*-------------Colors-----------*/
    --clr-white:#ffffff;
    --clr-dark:#333;
    --clr-grey-1:#102a42;
    --clr-grey-2:#617d98;
    --clr-grey-3:#f1f5f8;
    --clr-primary:#f53b57;
    --clr-primary-light:#f84668;
    --clr-secoundary:#e9b949;


    --transition: all 0.3s linear;

}




/* ---------------Global CSS-------------- */
a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}


h2{
    font-size: 2rem;
}


h3{
    font-size: 1.5rem;
}


h4{
    font-size: 0.875rem;
}

p{
    margin-bottom: 1.75rem;
}


body{
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    background-color: var(--clr-white);
    color: var(--clr-grey-1);
}

/* ------------Clear fix-------------*/
/* Flex Error Fix */


.clearfix::after,
.clearfix::before{
    content: "";
    clear: both;
    display: table;
}




/* ------------Section Center---------------------- */

.section-center{
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width:992px){
    .section-center{
      width: 95%;
      padding: 4rem 1rem;
    }
}





/* ------------Section title---------------------- */

.section-title h3{
    font-family: var(--ff-design);
    color: var(--clr-primary);
    font-size: 2rem;

}

.section-title{
    margin-bottom: 2rem;
}






/*-------------Viewmore Button-----------*/

.btn{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.75rem 1.25rem;
    letter-spacing: 0.5px;
    display: inline-block;
    font-weight: 400;
    transition: var(--transition);
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

.btn:hover{
    background-color: var(--clr-primary-light);
    
}


.banner-btn{
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border-radius: 1000px;
    background-image: linear-gradient(180deg, var(--clr-primary)80%, var(--clr-secoundary));
}

.banner-btn:hover{
    outline: 0.125rem solid var(--clr-primary);
    outline-offset: 0.25rem;
}


/*-------------End of Viewmore Button-----------*/
















*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------------------Navbar-------------- */
.nav-btn svg{
    fill: var(--clr-primary);
    position: fixed;
    top:5%;
    left:5%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: 1;
}


#nav-check{
    display: none;
}

#nav-check:checked ~ .navbar{
    transform: translateX(0);
    
}


.navbar{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.89);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: var(--transition);
    z-index: 3;
    
}



.navbar h3{
    padding: 1rem;
    color: var(--clr-white);
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: transparent;
    
    background-image: linear-gradient(180deg, var(--clr-primary)25%, var(--clr-secoundary));
    background-clip: text;
    margin-bottom: -1rem;

}


.navbar-header img{
    width: 100px;
    margin: 0 auto;
    
}

.navbar-header{
    position: relative;
}

.nav-close{
    position: absolute;
    right: 0;
    top: 5px;
}

.nav-close svg{
    cursor: pointer;
    fill: var(--clr-dark);
    transition: var(--transition);

}

.nav-close:hover svg{
    fill: var(--clr-white);
    
}

.nav-items{
    list-style-type: none;
}

.nav-link{
    display: block;
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    letter-spacing: 0.5px;
    transition: var(--transition);

}

.nav-link:hover{
    background-color: var(--clr-primary-light);
    padding-left: 1.5rem;
    border-left: 0.5rem solid var(--clr-secoundary);
}




@media screen and (min-width:768px){
    .navbar{
        width: 35%;
        max-width: 25rem;
    }
}


/* ------------------End of Navbar------------- */




/* ------------------Banner------------------- */

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/1.jpg") no-repeat center/cover fixed;
}


.banner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner h2{
    font-family: var(--ff-design);
    color: transparent;
    background-image: linear-gradient(180deg, var(--clr-primary), var(--clr-secoundary));
    background-clip: text;
}


.banner h1{
    font-family: var(--ff-brand);
    color: var(--clr-white);
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    font-weight: 400;
    text-shadow: 2px 5px 5px var(--clr-primary);
    animation: flame 1s infinite;
}


@keyframes flame {
  0%,
  100% {
    text-shadow: 0 -5px 10px rgba(255, 69, 0, 0.6), 0 -5px 20px rgba(255, 69, 0, 0.4), 0 -5px 30px rgba(255, 69, 0, 0.2), 0 -5px 40px rgba(255, 69, 0, 0.1);
  }
  25% {
    text-shadow: 0 -5px 15px rgba(255, 69, 0, 0.8), 0 -5px 30px rgba(255, 69, 0, 0.6), 0 -5px 45px rgba(255, 69, 0, 0.4), 0 -5px 60px rgba(255, 69, 0, 0.2);
  }
  50% {
    text-shadow: 0 -5px 20px rgba(255, 69, 0, 0.8), 0 -5px 40px rgba(255, 69, 0, 0.6), 0 -5px 60px rgba(255, 69, 0, 0.4), 0 -5px 80px rgba(255, 69, 0, 0.2);
  }
  75% {
    text-shadow: 0 -5px 15px rgba(255, 69, 0, 0.8), 0 -5px 30px rgba(255, 69, 0, 0.6), 0 -5px 45px rgba(255, 69, 0, 0.4), 0 -5px 60px rgba(255, 69, 0, 0.2);
  }
}





.content-divider{
    height: 0.5rem;
    background-image: linear-gradient(to left,var(--clr-primary),var(--clr-secoundary),var(--clr-primary));
}





/* ------------ Features Section ---------------------- */



.features {
   background-color: var(--clr-grey-3);
   cursor: pointer;

}

.feature{
    padding: 2.5rem 0 ;
    text-align: center;
    transition: var(--transition);
}

.feature-icon svg{
    transition: var(--transition);

}

.feature-title{
    text-transform: uppercase;
}

.feature-text{
    color: var(--clr-grey-2);
    max-width: 17rem;
    margin: 0 auto;
}

.feature:hover{
    background-color: var(--clr-white);
    box-shadow: 0 2px var(--clr-primary);

}

.feature:hover .feature-title {
    color: var(--clr-primary);
    
}

.feature:hover .feature-icon svg{
    fill: var(--clr-primary);
    transform: translateY(-5px);
    
}

@media screen and (min-width:576px) {
    .feature{
        width:50% ;
        float: left;
    }
}

@media screen and (min-width:1200px) {
    .feature{
        width:25% ;
        
    }
}



/* ------------ End of Features Section ---------------------- */









/* ------------About Section---------------------- */


.about-img,
.about-info{
    padding: 2rem 0;
}

.about-picture-container{
    max-width: 30rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--clr-primary);
   
}

.about-picture{
    transition: var(--transition);
}
.about-picture-container:hover .about-picture{
    transform: scale(1.02);
    opacity: 0.9;
}

.about-text{
    max-width: 26rem;
    color: var(--clr-grey-2);
}

@media screen and (min-width:992px){
    .about-img,
    .about-info{
        width:50% ;
        float: left;
    }

    .about-info{
        padding-left: 2rem;
    }
}




/* ------------End of About Section---------------------- */



/* ------------Menu Section---------------------- */


.products{
    background-color: var(--clr-grey-3);
}

.products .product-info{
    padding: 2rem 0;
}


.product-text{
    color: var(--clr-grey-2);
    max-width: 26rem;
}


.product-img{
    border-radius: 5px;
    height: 17rem;
    object-fit: cover;
    margin-bottom: 2rem;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.2);
    transition: var(--transition);

}

.product-img:hover{
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}


.product-title{
    font-size: 1.02rem;
}


.product-price{
    color: var(--clr-primary);
    font-size: 1.01rem;

}



@media screen and (min-width:768px) {
    .product{
        width:50% ;
        float: left;
        padding-right: 2rem;
    }
}


@media screen and (min-width:992px) {
    .product{
        width:33.33% ;
        
    }
}


@media screen and (min-width:1200px) {
    .product-info{
        width:30% ;
        float: left;
        
    }
    .product-inventory{
        width:70% ;
        float: left;
        
    }

    .product{
        margin: 0;
        padding: 0 1rem;
    }
}

